<section id="editions" class="section">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Workshops</h2>
      <p>Previous editions</p>
    </div>
    <div class="content">
      <!-- <h5>Websites</h5> -->
       <!-- TODO: add links to the websites of the previous editions -->
      <!-- <p><a href="" target="_blank">CoRL 2024</a></p> -->
      <p><a href="{{ '/corl2024/' | relative_url }}" target="_blank">CoRL 2024</a></p>
    </div>
  </div>
  </section>
