<section id="cfp" class="section">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Calls</h2>
      <p>Call for papers</p>
    </div>
    <div class="content">
      <p>
        We welcome submissions of full papers as well as work-in-progress and accept submissions of work recently published or currently under review.
       </p>

       <p>In general, we encourage two types of papers:</p>
       <ul class="is-bordered">
        <li><strong>Empirical paper:</strong> Submissions should focus on presenting original research, case studies or novel implementations in the fields related to the workshop (see potential topics below).</li>
        <li><strong>Position paper:</strong> Authors are encouraged to submit papers that discuss critical and thought-provoking topics within the scientific community.</li>
       </ul>

       <b>Potential topics include:</b>
       <ul>
        <li> Reinforcement learning for whole-body control and bimanual manipulation</li>
        <li> Teleoperation systems for humanoid robots (or other complex robotic systems) and imitation learning</li>
        <li> Learning models (e.g. dynamics, perception) and planning for complex, mobile robotic systems</li>
        <li> Benchmark and task proposals for whole-body control and manipulation</li>
        <li> Multimodal, whole-body sensing and perception</li>
        <li> Simulation to real world transfer</li>
        <li> Learning from human videos</li>
       </ul>


      <h5>Important Dates</h5>
      <ul>
        <li><strong>Submission deadline:</strong> May 23, 2025</li>
        <li><strong>Notification of acceptance:</strong> June 12, 2025</li>
        <li><strong>Camera-ready papers due:</strong> June 19, 2025 </li>
        <li>All deadlines are <a href="https://time.is/Anywhere_on_Earth"><b>AoE</b></a> time.</li>
      </ul>

      <h5>Submission Guidelines</h5>
      <p>The WCBM workshop will use <a href="https://openreview.net/group?id=roboticsfoundation.org/RSS/2025/Workshop/WCBM&referrer=%5BHomepage%5D(%2F)#tab-your-consoles" target="_blank">OpenReview</a> as the review platform.</p>

      <p>Accepted papers will be presented as posters, and a subset of them will be selected for oral presentation.</p>

      <p>The paper template and style files can be found at <a href="assets/RSS_WCBM_template_2025.zip">here</a> (adapted based on RSS 2025 template). There is no page limit but recommended 4-8 pages (excluding references and appendix). Submissions must follow the template and style and should be properly anonymized. </p>


      <h5>Dual Submission Policy</h5>
      <p>
        We welcome papers that have never been submitted, are currently under review, or recently published. Accepted papers will be published on the workshop homepage, but will not be part of the official proceedings and are to be considered non-archival.
      </p>
    </div>
  </div>
  </section>
