<style>
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>
    <!-- ======= Organization Section ======= -->
    <section id="org" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Organization</h2>
          <p>Workshop Organizers</p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/pieter_abbeel.jpg" alt="Pieter Abbeel">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://people.eecs.berkeley.edu/~pabbeel/">Pieter Abbeel</a></h4>
                <strong>Professor at UC Berkeley</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/carlo_sferrazza.jpeg" alt="Carlo Sferrazza">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://sferrazza.cc/">Carlo Sferrazza</a></h4>
              <strong>Postdoc at UC Berkeley</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/xingyu_lin.png" alt="Xingyu Lin">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://xingyu-lin.github.io/">Xingyu Lin</a></h4>
              <strong>Research Scientist at OpenAI</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/youngwoon_lee.png" alt="Youngwoon Lee">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://youngwoon.github.io/">Youngwoon Lee</a></h4>
              <strong>Assistant Professor at Yonsei Unviersity</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/toru_lin.jpeg" alt="Toru Lin">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://toruowo.github.io/">Toru Lin</a></h4>
              <strong>PhD at UC Berkeley</strong>
            </div>
          </div>
    </section>

    <!-- ======= PC Section ======= -->
    <!-- <section id="pc" class="section"> -->
        <!-- <div class="container"> -->

          <!-- <div class="section-title" data-aos="zoom-out"> -->
            <!-- <p>Program Committee</p> -->
          <!-- </div> -->

          <!-- <div class="row"> -->

              <!-- <div style="float: left; width: 50%;"> -->
                <!-- <ul class="no-bullets"> -->
                  <!-- <li>Carlo Sferrazza (UC Berkeley)</li> -->
                  <!-- <li>Youngwoon Lee (Yonsei University)</li> -->
                  <!-- <li>Younghyo Park (MIT)</li> -->
                  <!-- <li>Himanshu Gaurav (UC Berkeley)</li> -->
                  <!-- <li>Toru Lin (UC Berkeley)</li> -->
                  <!-- <li>Ziwen Zhuang (Tsinghua University)</li> -->
                  <!-- <li>Fred Shentu (UC Berkeley)</li> -->
                  <!-- <li>Arthur Allshire (UC Berkeley)</li> -->
                  <!-- <li>Haoran Geng (Peking University)</li> -->
                  <!-- <li>Younggyo Seo (UC Berkeley)</li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- <div style="float: right; width: 50%;"> -->
                <!-- <ul class="no-bullets"> -->
                  <!-- <li>Xingyu Lin (OpenAI)</li> -->
                  <!-- <li>Huy Ha (Stanford University)</li> -->
                  <!-- <li>Dun-Ming Huang (UC Berkeley)</li> -->
                  <!-- <li>Bike Zhang (UC Berkeley)</li> -->
                  <!-- <li>Junik Bae (Yonsei University)</li> -->
                  <!-- <li>Haoru Xue (UC Berkeley)</li> -->
                  <!-- <li>Mingyo Seo (UT Austin)</li> -->
                  <!-- <li>Tara Sadjadpour (UC Berkeley)</li> -->
                  <!-- <li>Kwanyoung Park (Yonsei University)</li> -->
                  <!-- <li>Qiayuan Liao (UC Berkeley)</li> -->
                <!-- </ul> -->
                <!-- </div> -->

          <!-- </div> -->
        <!-- </div> -->
      <!-- </section> -->
      <!-- End PC Section -->

