<style>
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>
    <!-- ======= Organization Section ======= -->
    <section id="posters" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Posters</h2>
          <p>Workshop Posters</p>
        </div>

        <div class="content">
          <p>
            Check out our workshop papers at OpenReview: <a href="https://openreview.net/group?id=robot-learning.org/CoRL/2024/Workshop/WCBM" target="_blank">https://openreview.net/group?id=robot-learning.org/CoRL/2024/Workshop/WCBM</a>
          </p>

          <ul>
            <li>
              <b>Augmented Action-space Whole-Body Teleoperation of Mobile Manipulation Robots.</b>
              Sophie C. Lueth, Georgia Chalvatzaki
            </li>
            <li>
              <b>Time Your Rewards: Learning Temporally Consistent Rewards from a Single Video Demonstration.</b>
              Huaxiaoyue Wang, William Huey, Anne Wu, Yoav Artzi, Sanjiban Choudhury
            </li>
            <li>
              <b>Learning to Look Around: Enhancing Teleoperation and Learning with a Human-like Actuated Neck.</b>
              Jin Wang, Rui Dai, Weijie Wang
            </li>
            <li>
              <b>PerAct2: Benchmarking and Learning for Robotic Bimanual Manipulation Tasks.</b>
              Markus Grotz, Mohit Shridhar, Yu-Wei Chao, Tamim Asfour, Dieter Fox
            </li>
            <li>
              <b>The Role of Domain Randomization in Training Diffusion Policies for Whole-Body Humanoid Control.</b>
              Oleg Kaidanov, Firas Al-Hafez, Yusuf Süvari, Boris Belousov, Jan Peters
            </li>
            <li>
              <b>EquiBot: SIM(3)-Equivariant Diffusion Policy for Generalizable and Data Efficient Learning.</b>
              Jingyun Yang, Ziang Cao, Congyue Deng, Rika Antonova, Shuran Song, Jeannette Bohg
            </li>
            <li>
              <b>Bi3D Diffuser Actor: 3D Policy Diffusion for Bi-manual Robot Manipulation.</b>
              Tsung-Wei Ke, Nikolaos Gkanatsios, Jiahe Xu, Katerina Fragkiadaki
            </li>
            <li>
              <b>AsymDex: Leveraging Asymmetry and Relative Motion in Learning Bimanual Dexterity.</b>
              Zhaodong Yang, Yunhai Han, Harish Ravichandar
            </li>
            <li>
              <b>SkillBlender: Towards Versatile Humanoid Whole-Body Control via Skill Blending.</b>
              Yuxuan Kuang, Amine Elhafsi, Haoran Geng, Marco Pavone, Yue Wang
            </li>
            <li>
              <b>Full-Order Sampling-Based MPC for Torque-Level Locomotion Control via Diffusion-Style Annealing.</b>
              Haoru Xue, Chaoyi Pan, Zeji Yi, Guannan Qu, Guanya Shi
            </li>
            <li>
              <b>A Comparison of Imitation Learning Algorithms for Bimanual Manipulation.</b>
              Michael Drolet, Simon Stepputtis, Siva Kailas, Ajinkya Jain, Jan Peters, Stefan Schaal, Heni Ben Amor
            </li>
            <li>
              <b>Latent Action Pretraining From Videos.</b>
              Seonghyeon Ye, Joel Jang, Byeongguk Jeon, Se June Joo, Jianwei Yang, Baolin Peng, Ajay Mandlekar, Reuben Tan, Yu-Wei Chao, Bill Yuchen Lin, Lars Liden, Kimin Lee, Jianfeng Gao, Luke Zettlemoyer, Dieter Fox, Minjoon Seo
            </li>
            <li>
              <b>Surgical Robot Transformer (SRT): Imitation Learning for Surgical Tasks.</b>
              Ji Woong Kim, Tony Z. Zhao, Samuel Schmidgall, Anton Deguet, Marin Kobilarov, Chelsea Finn, Axel Krieger
            </li>
            <li>
              <b>DynSyn: Dynamical Synergistic Representation for Efficient Learning and Control in Overactuated Embodied Systems.</b>
              Kaibo He, Chenhui Zuo, Chengtian Ma, Yanan Sui
            </li>
            <li>
              <b>Hierarchical World Models as Visual Whole-Body Humanoid Controllers.</b>
              Nicklas Hansen, Jyothir S V, Vlad Sobal, Yann LeCun, Xiaolong Wang, Hao Su
            </li>
            <li>
              <b>Continuously Improving Mobile Manipulation with Autonomous Real-World RL.</b>
              Russell Mendonca, Emmanuel Panov, Bernadette Bucher, Jiuguang Wang, Deepak Pathak
            </li>
            <li>
              <b>Active Vision Might Be All You Need: Exploring Active Vision in Bimanual Robotic Manipulation.</b>
              Ian Chuang, Andrew Lee, Dechen Gao, Mahdi Naddaf, Iman Soltani
            </li>
            <li>
              <b>DexHub: Infrastructure for Internet Scale Robotics Data Collection.</b>
              Younghyo Park, Jagdeep Singh Bhatia, Lars Lien Ankile, Pulkit Agrawal
            </li>
            <li>
              <b>Goal Achievement Guided Exploration: Mitigating Premature Convergence in Learning Robot Control.</b>
              Shengchao Yan, Baohe Zhang, Joschka Boedecker, Wolfram Burgard
            </li>
            <li>
              <b>Reinforcement Learning with Action Sequence for Data-Efficient Robot Learning.</b>
              Younggyo Seo, Pieter Abbeel
            </li>
            <li>
              <b>CooHOI: Learning Cooperative Human-Object Interaction with Manipulated Object Dynamics.</b>
              Jiawei Gao, Ziqin Wang, Zeqi Xiao, Jingbo Wang, Tai Wang, Jinkun Cao, Xiaolin Hu, Si Liu, Jifeng Dai, Jiangmiao Pang
            </li>
            <li>
              <b>OPEN TEACH: A Versatile Teleoperation System for Robotic Manipulation.</b>
              Aadhithya Iyer, Zhuoran Peng, Yinlong Dai, Irmak Guzey, Siddhant Haldar, Soumith Chintala, Lerrel Pinto
            </li>
            <li>
              <b>AnySkin: Plug-and-play Skin Sensing for Robotic Touch.</b>
              Raunaq Bhirangi, Venkatesh Pattabiraman, Mehmet Enes Erciyes, Yifeng Cao, Tess Hellebrekers, Lerrel Pinto
            </li>
            <li>
              <b>UMI on Legs: Making Manipulation Policies Mobile with Manipulation-Centric Whole-body Controllers.</b>
              Huy Ha, Yihuai Gao, Zipeng Fu, Jie Tan, Shuran Song
            </li>
          </ul>
        </div>
      </div>
    </section><!-- End PC Section -->

