<section id="schedule" class="section">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>Program</h2>
        <p>Workshop schedule (tentative) </p>
        <p style="font-size: large;">🚪Room "Taurus 2"</p>
       <div class="row">
<div class="col-md-6" style="width: 100%">


  <!-- <br>
  <span style="font-weight:bold">Please join us on: <br>
  <span style="font-weight:bold">Underline:  <br>
  <span style="font-weight:bold">Zoom:  <br>
  <br> -->
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">&nbsp;&nbsp;8:30&nbsp; - &nbsp;&nbsp;8:35</span></td>
          <td>Opening Remark</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;8:35&nbsp; - &nbsp;&nbsp;9:05</span></td>
          <td>Jitendra Malik (UC Berkeley)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:05&nbsp; - &nbsp;&nbsp;9:30</span></td>
          <td>Yuke Zhu (UT Austin, NVIDIA) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:30&nbsp; - &nbsp;09:55</span></td>
          <td>Manuel Galliker (1X Technologies) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:55&nbsp; - &nbsp;10:20</span></td>
          <td>Vikash Kumar (CMU)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">10:30&nbsp; - &nbsp;11:00</span></td>
          <td>Coffee Break, Posters, Robot Demos</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">11:00&nbsp; - &nbsp;11:20</span></td>
          <td>Xingxing Wang (Unitree)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">11:20&nbsp; - &nbsp;11:40</span></td>
          <td>Quentin Rouxel on behalf of Serena Ivaldi (Inria)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">11:40&nbsp; - &nbsp;12:00</span></td>
          <td>Ziwen Zhang (Tsinghua University)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">12:00&nbsp; - &nbsp;13:45</span></td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">13:45&nbsp; - &nbsp;14:10</span></td>
          <td>Xiaolong Wang (UCSD) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">14:10&nbsp; - &nbsp;14:35</span></td>
          <td>Moritz Baecher (Disney Research) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">14:35&nbsp; - &nbsp;15:00</span></td>
          <td>Deepak Pathak (CMU) </td>
          <td> </td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">15:00&nbsp; - &nbsp;15:30</span></td>
          <td>Coffee Break, Posters, Robot Demos </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">15:30&nbsp; - &nbsp;15:55</span></td>
          <td>Jonathan Hurst (Oregon State Univ., Agility Robotics)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">15:55&nbsp; - &nbsp;16:20</span></td>
          <td>Chelsea Finn (Stanford, PI) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">16:20&nbsp; - &nbsp;16:40</span></td>
          <td>Toru Lin (UC Berkeley)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">16:40&nbsp; - &nbsp;17:05</span></td>
          <td>Scott Kuindersma (Boston Dynamics)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">17:05&nbsp; - &nbsp;18:00</span></td>
          <td>Panel Discussion</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">18:00&nbsp; - &nbsp;18:10</span></td>
          <td>Closing Remarks / Best Paper Award</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
    </div>
  </section>
