<section id="schedule" class="section">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>Program</h2>
        <p>Workshop schedule</p>
        <p style="font-size: large;">🚪Room "OHE 136"</p>
        <p style="font-size: large;">Please join us on:</p> <a href="https://berkeley.zoom.us/j/96541746640" target="_blank">https://berkeley.zoom.us/j/96541746640
       <div class="row">
<div class="col-md-6" style="width: 100%">

  <br>

  <!--
  <span style="font-weight:bold">Underline:  <br>
  <span style="font-weight:bold">Zoom:  <br>
  <br> -->
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">&nbsp;&nbsp;8:20&nbsp; - &nbsp;&nbsp;8:30</span></td>
          <td>Opening Remark</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;8:30&nbsp; - &nbsp;&nbsp;9:00</span></td>
          <td>Sergey Levine (UC Berkeley, PI)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:00&nbsp; - &nbsp;&nbsp;9:30</span></td>
          <td>Sangbae Kim (Meta)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:30&nbsp; - &nbsp;10:10</span></td>
          <td>Poster Spotlight (6 posters) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">10:10&nbsp; - &nbsp;10:40</span></td>
          <td>Karen Liu (Stanford) </td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">10:40&nbsp; - &nbsp;11:30</span></td>
          <td>Coffee Break, Posters</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">11:30&nbsp; - &nbsp;12:30</span></td>
          <td>Panel Discussion #1 (Karen Liu, Sangbae Kim, Zhengyi Luo)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">12:30&nbsp; - &nbsp;14:00</span></td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">14:00&nbsp; - &nbsp;14:30</span></td>
          <td>Zhengyi Luo (CMU) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">14:30&nbsp; - &nbsp;15:00</span></td>
          <td>Eric Jang (1X) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">15:00&nbsp; - &nbsp;15:30</span></td>
          <td>Deepak Pathak (CMU, skild.AI) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">15:30&nbsp; - &nbsp;16:00</span></td>
          <td>Hang Zhao (Tsinghua)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">16:00&nbsp; - &nbsp;16:30</span></td>
          <td>Coffee Break </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">16:30&nbsp; - &nbsp;17:00</span></td>
          <td>Marc Raibert & Farbod Farshidian (RAI Institute)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">17:00&nbsp; - &nbsp;18:00</span></td>
          <td>Panel Discussion #2 (Marc Raibert, Farbod Farshidian, Hang Zhao, Eric Jang)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">18:00&nbsp; - &nbsp;18:10</span></td>
          <td>Closing Remarks</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
    </div>
  </section>
