<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <p class="title is-4 has-text-white-bis has-text-weight-medium is-marginless">
        Welcome to the
      </p>
      <p class="title is-1 has-text-white-bis has-text-weight-medium is-marginless">
        Workshop on Whole-body Control and Bimanual Manipulation
      </p>
      <p class="title is-2 has-text-white-bis has-text-weight-medium is-marginless">
        at RSS 2024
      </p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>
