    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
        <div class="container">

            <!-- logo or branding image on left side -->
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ '/rss2026/' | relative_url }}">
                    <strong>WCBM Workshop</strong>
                </a>
                <div class="navbar-burger" data-target="navbar-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
            <div class="navbar-menu" id="navbar-menu">
                <!-- navbar items | right side -->
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ '/rss2026/' | relative_url }}">Home</a>
                    <a class="navbar-item" href="{{ '/rss2026/#about' | relative_url }}">About</a>
                    <a class="navbar-item" href="{{ '/rss2026/#schedule' | relative_url }}">Schedule</a>
                    <a class="navbar-item" href="{{ '/rss2026/#speaker' | relative_url }}">Invited speakers</a>
                    <a class="navbar-item" href="{{ '/rss2026/#org' | relative_url }}">Organization</a>
                    <a class="navbar-item" href="{{ '/rss2026/#cfp' | relative_url }}">Call for papers</a>
                    <a class="navbar-item" href="{{ '/rss2026/#editions' | relative_url }}">Previous editions</a>
                </div>

            </div>
        </div>
    </nav>

<!-- Bulma Navbar JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        console.log($navbarBurgers);
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
    const navE1 = document.querySelector('.navbar');
    window.addEventListener('scroll', () => {
        console.log(navE1);
        if (window.scrollY >= 56) {
            navE1.classList.add('navbar-scrolled')
        } else if (window.scrollY < 56) {
            navE1.classList.remove('navbar-scrolled')
        }
    });
</script>
