<style>
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>
    <!-- ======= Organization Section ======= -->
    <section id="org" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Organization</h2>
          <p>Workshop Organizers</p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/pieter_abbeel.jpg" alt="Pieter Abbeel">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://people.eecs.berkeley.edu/~pabbeel/">Pieter Abbeel</a></h4>
                <strong>Professor at UC Berkeley</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/carlo_sferrazza.jpeg" alt="Carlo Sferrazza">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://sferrazza.cc/">Carlo Sferrazza</a></h4>
              <strong>Incoming Assistant professor at UT Austin, Research Scientist at Amazon</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/youngwoon_lee.png" alt="Youngwoon Lee">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://youngwoon.github.io/">Youngwoon Lee</a></h4>
              <strong>Assistant Professor at Yonsei Unviersity</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/toru_lin.jpeg" alt="Toru Lin">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://toruowo.github.io/">Toru Lin</a></h4>
              <strong>PhD at UC Berkeley</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/ziwen_zhuang.jpg" alt="Ziwen Zhuang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://ziwenzhuang.github.io/">Ziwen Zhuang</a></h4>
              <strong>PhD at Tsinghua</strong>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="/assets/images/organizers-square/bike_zhang.png" alt="Bike Zhang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://bikezhang106.github.io/">Bike Zhang</a></h4>
              <strong>Postdoc at UC Berkeley</strong>
            </div>
          </div>
    </section>
