<section id="schedule" class="section">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>Program</h2>
        <p>Workshop schedule</p>
       <div class="row">
<div class="col-md-6" style="width: 100%">

  <br>
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:00&nbsp; - &nbsp;&nbsp;09:05</span></td>
          <td>Opening Remark</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:05&nbsp; - &nbsp;&nbsp;09:30</span></td>
          <td>Joohyung Kim (UIUC)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:30&nbsp; - &nbsp;&nbsp;09:55</span></td>
          <td>Jianyu Chen (Tsinghua)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:55&nbsp; - &nbsp;&nbsp;10:20</span></td>
          <td>Tony Zhao (Sunday Robotics)</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;10:20&nbsp; - &nbsp;&nbsp;10:45</span></td>
          <td>Karen Liu (Stanford)</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">&nbsp;&nbsp;10:45&nbsp; - &nbsp;&nbsp;11:15</span></td>
          <td>Coffee Break and Poster Session</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;11:15&nbsp; - &nbsp;&nbsp;11:40</span></td>
          <td>Spotlight Talks</td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;11:40&nbsp; - &nbsp;&nbsp;12:10</span></td>
          <td>Panel Discussion</td>
        </tr>
        <tr bgcolor="#EFEFEF">
          <td><span style="font-weight:bold">&nbsp;&nbsp;12:10&nbsp; - &nbsp;&nbsp;12:30</span></td>
          <td>Closing Remarks</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
    </div>
  </section>
