<style>
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>
    <!-- ======= Organization Section ======= -->
    <section id="posters" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Posters</h2>
          <p>Workshop Posters</p>
        </div>

        <div class="content">
          <p>
            Check out our workshop papers at OpenReview: <a href="https://openreview.net/group?id=robot-learning.org/CoRL/2025/Workshop/WCBM" target="_blank">https://openreview.net/group?id=robot-learning.org/CoRL/2025/Workshop/WCBM</a>
          </p>

          <p>
            <b>Poster Spotlights:</b>
          </p>
          <ul>
            <li>
              <b>Title.</b>
              Authors
            </li>
          </ul>


          <p>
            <b>Posters:</b>
          </p>
          <ul>
            <li>
              <b>Title.</b>
              Authors
            </li>
          </ul>
        </div>
      </div>
    </section><!-- End PC Section -->

